<% layout('layouts/boilerplate') %>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <!-- <div class="container"> -->
    <!-- <div class="row wavy align-items-center">
      <div class="col-md-6">
        <h1 class="run">
          Welcome<span style="color:#fa8072 ;"> to</span> YelpCamp
        </h1>
      </div>
      <div class="col p-0">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://images.unsplash.com/photo-1603738397297-a374b78e9626?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2FtcHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://images.unsplash.com/photo-1455763916899-e8b50eca9967?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FtcHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img
                src="https://images.unsplash.com/photo-1528892677828-8862216f3665?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FtcHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>



    </div> -->
  <!-- </div> -->

  <!-- Inside the boilerplate container -->
  <div class="row backImg align-items-center">
    <div class="col-8 offset-md-4 text-white ">
      <h1>YelpCamp</h1>
      <p class="lead"> <br> Jump right in and explore our many campgrounds. <br>
          Feel free to share some of your own and comment on others!</p>
      <a href="/campgrounds" class="btn btn-lg btn-warning" role="button" data-bs-toggle="button" aria-pressed="true">View
          Campgrounds</a>
      <!-- <div class="mt-2">
        <a href="/campgrounds/" class="btn btn-dark mt-3"> View campgrounds</a>
      </div> -->
    </div>
  </div>
<div class="container my-2 ">
  <div class="row second align-items-center">
    <div class="col-8 offset-md-4 text-white ">
      <h1>Limitless Learning</h1>
      <p class="lead">I would be so happy to hear what you think about my website</p>
      <!-- <a href="mailto:anitamatthewc1@gmail.com" class="btn btn-lg btn-warning font-weight-bold text-dark border-white bg-white">Kindly send me a massege</a> -->
      <a href="mailto:anitamatthewc1@gmail.com" class="btn btn-success" role="button" data-bs-toggle="button" aria-pressed="true">Kindly send me a massage</a>
    </div>
</div>


<!-- bootstrap -->

  <!-- not in use for now -->
  <!-- <div class="row align-items-center d-flex justify-content-center testrow">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1525811902-f2342640856e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FtcGdyb3VuZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            class="card-img-top" alt="...">
        </div>
      </div> -->
      <!-- second -->
      <!-- <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1520824071669-892f70d8a23d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2FtcGdyb3VuZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            class="card-img-top" alt="...">
        </div>

      </div> -->
      <!-- third -->
      <!-- <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2FtcGdyb3VuZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            class="card-img-top" alt="...">
        </div>

      </div>
    </div> -->